body {
    font-family: Arial, sans-serif;
    background-color: #80b6ec;
}

.factura-container {
    width: 900px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #000000;
}

fieldset {
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 6px;
}

legend {
    font-weight: bold;
    padding: 0 10px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
}

.buscar-cliente {
    display: flex;
    gap: 10px;
    padding-bottom: 15px;
}

.buscar-cliente input {
    flex: 1;
}

.buscar-cliente button {
    padding: 7px 15px;
    background-color: #17a2b8;
    color: white;
    border: 1px solid #000000;
    cursor: pointer;
}

.detalle-factura {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.detalle-factura th,
.detalle-factura td {
    border: 1px solid #000000;
    padding: 6px;
    text-align: center;
}

.detalle-factura input {
    width: 100%;
    border: none;        /* 游댠 elimina los recuadros */
    outline: none;       /* 游댠 elimina borde al hacer click */
    text-align: center;
    background-color: transparent;
}

.btn-plus {
    padding: 5px 10px;
    background-color: #00ff62;
    color: white;
    border: 1px solid #000000;
    cursor: pointer;
    font-size: 16px;
}

.btn-minus {
    padding: 5px 10px;
    background-color: #ff0000;
    color: white;
    border: 1px solid #000000;
    cursor: pointer;
    font-size: 16px;
}

.totales {
    margin-top: 15px;
    width: 300px;
    margin-left: auto;
}

.fila-total {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.fila-total label {
    width: 120px;          /* ancho fijo del texto */
    font-weight: bold;
    padding-left: 10px;
}

.fila-total .input,
.fila-total select {
    flex: 1;
    padding: 6px;
}

/* Tama침os especiales para encabezado */
.input-small {
    flex: 1;      /* m치s peque침o */
}

.input-large {
    flex: 3;      /* m치s grande */
}

.pago select {
    width: 300px;
    padding: 6px;
    margin-top: 5px;
    cursor: pointer;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-salir {
    text-decoration: none;
    background-color: #6c757d;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #000000;
}

.btn-guardar {
    background-color: #28a745;
    color: black;
    padding: 10px 20px;
    border: 1px solid #000000;
    cursor: pointer;
}