body {
    font-family: Arial, sans-serif;
    background-color: #80b6ec;
}

.menu {
    width: 300px;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.menu a {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    background-color: #1e7e34;
}
