<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Menú Principal</title>
        <link rel="stylesheet" href="../style/menu.css" />
    </head>
    <body>
        <div class="menu">
            <h2>Menú Principal</h2>

            <a href="facturacion.html">Facturación</a>
            <a href="historial.html">Historial de Facturación</a>
            <a href="cliente.html">Cliente</a>
            <a href="login.html">Salida</a>
        </div>
    </body>
</html>
